---
import { basics } from "@cv"
import Section from "@/components/Section.astro"
import Mail from "@/icons/Mail.astro"
import Phone from "@/icons/Phone.astro"
import X from "@/icons/X.astro"
import LinkedIn from "@/icons/LinkedIn.astro"
import GitHub from "@/icons/GitHub.astro"
import WorldMap from "@/icons/WorldMap.astro"
import type { SocialIcon } from "@/types"

const { name, label, image, location, profiles, email } = basics
const { city, region } = location

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
  X,
}

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url

const printInfo = [email, linkedUrl].filter(Boolean).join(" • ")
---

<Section>
  <div id="container" class="flex flex-col-reverse sm:flex-row items-center justify-between gap-4">
    <div id="info" class="flex justify-center items-center sm:items-start pr-0 flex-col gap-1 sm:gap-2 sm:pr-8">
      <h1 class="font-headers font-bold text-3xl text-center sm:text-left">{name}</h1>
      <h2 class="text-gray-800 dark:text-white font-headers leading-6 font-medium text-[1.1rem] sm:text-wrap text-center sm:text-left">{label}</h2>
      <span class="text-gray-600 dark:text-slate-400 flex items-center gap-1 font-medium text-xs tracking-tight text-center sm:text-left">
        <WorldMap />
        {city}, {region}
      </span>
      <!-- <footer class="print">
        {printInfo}
      </footer> -->
      <footer id="no-print" class="text-gray-600 dark:text-slate-100 flex gap-2 items-center">
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        <!-- {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`Llamar por teléfono a ${name} al número ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Phone />
            </a>
          )
        } -->
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network]

            return (
              <a
                href={url}
                title={`Visitar el perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            )
          })
        }
      </footer>
    </div>
    <figure class="my-auto mx-0 sm:flex sm:items-center">
      <img src={image} alt={name} class="w-[128px] h-[128px] object-cover rounded-lg"/>
    </figure>
  </div>
</Section>

