---
import GitHub from "@/icons/GitHub.astro"
import Section from "../Section.astro"

import { projects } from "@cv"
---

<Section title="Proyectos">
  <!-- <ul class="grid gap-4 sm:mx-0" style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));"> -->
    <ul class="grid grid-cols-1 sm:grid-cols-3 gap-4">
    {
      projects.map(
        ({ url, description, highlights, name, isActive, github }) => {
          return (
            <li>
              <article class="flex flex-col border-none pb-4 shadow-[0_1px_0_0_rgb(242,242,242)] sm:border-solid sm:border sm:border-gray-200 sm:rounded-lg gap-4 sm:p-4">
                <header>
                  {/* <h3 class="flex items-center font-headers font-bold text-[23px] leading-6 mb-2"> */}
                  <h3 class="flex items-center font-headers font-bold leading-6 mb-2">
                    <a href={url} target="_blank" title={`Ver el proyecto ${name}`} class="hover:underline text-clip ">
                      {name}
                    </a>
                    {isActive ? <span class="ml-1 text-emerald-600">•</span> : <span class="ml-1 text-rose-600">•</span>}
                    {github && (
                      <a
                        class="github-code-link ml-1"
                        href={github}
                        target="_blank"
                        title={`Ver código fuente del proyecto ${name}`}
                      >
                        <GitHub />
                      </a>
                    )}
                  </h3>
                  <p class="text-pretty text-gray-700 text-sm leading-5 mb-1">{description}</p>
                </header>
                <footer class="flex flex-wrap gap-1 text-xs">
                  {highlights.map((highlight) => {
                    return <span class="rounded-md bg-gray-100 text-gray-600 font-medium px-1.5 py-0.5">{highlight}</span>
                  })}
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>