---
import { getCollection } from "astro:content";
import Section from "../Section.astro";
// import BlogPostsPreview from "../BlogPostsPreview.astro";
// const allPosts = await Astro.glob("../../pages/posts/*.mdx");
const allPosts = await getCollection("posts", ({data}) => {return data.draft == false;});
const maxPosts = 3;

const {id} = Astro.props

---

<Section title="Ensayos" id={id}>
    <!-- <BlogPostsPreview /> -->
    <ul>
        {
            allPosts.slice(0, maxPosts).map((post) => (
                <li class="flex">
                    <div class="min-w-28 text-gray-700 dark:text-slate-400">
                        {/* <time>{post.frontmatter.date}</time> */}
                        <time>{post.data.date.toLocaleDateString("es-es", {
                            year: 'numeric',
                            month: '2-digit',
                            day: 'numeric'
                        })}</time>
                    </div>
                    <span>
                        {/* <a href={post.url}>{post.frontmatter.title}</a> */}
                        <a class="underline-offset-4 hover:underline text-gray-700 dark:text-slate-400" href={`/portfolio/posts/${post.slug}/`}>{post.data.title}</a>
                    </span>
                </li>
            ))
        }
        <!-- {allPosts.length > maxPosts && (
                <li>
                    <a href="/blog/">Read more</a>
                </li>
            )} -->
    </ul>
</Section>
