---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro"
import { basics, skills } from "@cv"
// import "../styles/global.css"; // old, now tailwindcss
import '@fontsource/ibm-plex-sans';
import '@fontsource/syne-mono';

interface Props {
  title: string
}

const { title } = Astro.props
const { image, label, meta, url } = basics
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={label} />
    <meta name="keywords" content={skills.map((skill) => skill.name).join(',')}/>
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/portfolio/favicon.svg" /> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/portfolio/cactus_favicon/cactus_favicon_apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/portfolio/cactus_favicon/cactus_favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/portfolio/cactus_favicon/cactus_favicon-16x16.png">
    <link rel="preload" as="image" href={image} />

    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={meta} />
    <meta property="og:image" content="" />

    <!-- <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={url.split("//")[1] ?? ''} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={summary} />
    <meta name="twitter:image" content="" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class="dark:bg-slate-900">
    <Header/>
    <slot />
    <Footer />
    <a href="https://librecounter.org/referer/show">
      <img src="https://librecounter.org/counter.svg" referrerpolicy="unsafe-url" hidden/>
    </a>
  </body>
</html>